html{
    background-color: aquamarine;
}

#navigation{
    background-color: blueviolet;
    padding: 5px;
    border: 1px solid lightgray;
}
#navigation ul{
    list-style: none;
    display: flex;
}

#navigation ul li{
    padding: 0 50px;
}