html{
    background-color: aquamarine;
    font-family: 'Lora', serif;
}

#navigation{
    background-color: blanchedalmond;
        padding: 5px;
    border: 1px solid lightgray;
}
#navigation ul{
    display: flex;
    list-style: none;

}

#navigation ul li{
    padding: 0 50px;
}

.aboutme{
background-color: darkgray;
font-size: 15px;
color: brown;
padding: 12px 15px;

}

.aboutme h1{
    background-color: darkgray;
 color: black;
    padding: 0 55px;
    
    }

    .aboutme img{
        width: 100%;
    }
