html {
    background-color: aquamarine;
    font-family: 'Germania One', cursive;
}

nav {
    background-color: blanchedalmond;
    padding: 5px;
    border: 1px solid lightgray;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    padding-right: 40px;
}

nav ul li {
    border-radius: 10px;
    background-color: chartreuse;
    padding: 20px 50px;
    margin: 0 5px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.aboutme {
    background-color: darkgray;
    font-size: 18px;
    color: brown;
    padding: 12px 15px;
    /* margin-top: 150px; */
}

.aboutme h1 {
    background-color: darkgray;
    color: black;
    padding: 0 55px;
}

.aboutme img {
    width: 100px;
}

p {
    font-weight: 400;
    /* margin-top: 200px; */
}

#contactForm {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    width: 250px;
}

#contactForm input[type=submit] {
    margin-top: 250px;
}

#contactForm label {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
}

#contactForm label span {
    width: 100px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: ivory;
    border: 1px dashed red;
    bottom: 0;
    margin-top: 50px;
}

#navbar {
    position: fixed;
    transition: .5s all;
    z-index: 2;
    width: 100%;
    padding: 40px 10px;
    top: 0px;
    left: 0px;
}

#firstArt {
    margin-top: 1150px;
}